<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play</title>
</head>
<body style="margin:5% 20%">
<h3 style="text-align:right">Credits: {{score}}</h3>
<div style="text-align:center">
    <h2>Choose:</h2>
    <form method="post" action="/">
        <input type="submit" name="rock_button" value="Rock">
        <input type="submit" name="paper_button" value="Paper">
        <input type="submit" name="scissors_button" value="Scissors">
    </form>
    <form method="post" action="/">
            {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
        <input type="submit" name="credit_button" value="Add 10 Credit">
        <input type="submit" name="stats_button" value="Stats">
    </form>
</div>
</body>
</html>